<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Blog System</a>
    by <a href="http://www.michaelhartl.com/">Framgia</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'about' %></li>
      <li><%= link_to "Contact", 'contact' %></li>
    </ul>
  </nav>
</footer>
